# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://tcibxkkrunvzewppgxae.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRjaWJ4a2tydW52emV3cHBneGFlIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTcyMTQ3MjYsImV4cCI6MjAxMjc5MDcyNn0.5VHLMG6UNnKnZEPnLh0zK1lF812wQlBkC5YsQTOOhGY
